@using RestaurantAlloraProjectWeb.Models.Dish
@model DishViewModel
<h2 class="text-black">Edit dish:</h2>
<form asp-action="Edit" method="post" asp-controller="Dish">
    <input type="hidden" asp-for="DishId" />
    <div class="mb-3">
        <label asp-for="NameOfTheDish" class="form-label">Name</label>
        <input asp-for="NameOfTheDish" class="form-control" />
        <span asp-validation-for="NameOfTheDish" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DescriptionOfTheDish" class="form-label">Description</label>
        <textarea asp-for="DescriptionOfTheDish" class="form-control"></textarea>
        <span asp-validation-for="DescriptionOfTheDish" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PriceOfTheDish" class="form-label">Price</label>
        <input asp-for="PriceOfTheDish" class="form-control" />
        <span asp-validation-for="PriceOfTheDish" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryOfTheDish" class="form-label">Category</label>
        <select asp-for="CategoryOfTheDish" asp-items="ViewBag.Categories" class="form-select"></select>
        <span asp-validation-for="CategoryOfTheDish" class="text-danger"></span>
    </div>
    <div class="form-group text-center mb-3">
        <label asp-for="SelectedAllergens" class="form-label">Select allergens</label>
        <select asp-for="SelectedAllergens"
                asp-items="Model.Allergens"
                id="allergensSelect"
                multiple
                class="form-select">
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="Dish" asp-action="Index" class="btn btn-secondary">Back</a>
</form>


