@using RestaurantAlloraProjectData.Entities;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav allora-auth-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link auth-user" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей, @User.Identity?.Name</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="" asp-controller="User" asp-action="Logout"
              asp-route-returnUrl="@Url.Action("Index","Home",new {area = ""})">
            <button type="submit" class="nav-link btn btn-link auth-action">Изход</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link auth-link" asp-area="" asp-controller="User" asp-action="Register">Регистрация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link auth-action" asp-area="" asp-controller="User" asp-action="LogIn">Вход</a>
    </li>
}
</ul>
