@{
    ViewData["Title"] = "Сменена парола";
}

<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <h1>Паролата е сменена</h1>
        <p>Вече можете да влезете с новата парола.</p>
        <a asp-action="LogIn" class="btn btn-primary">Към вход</a>
    </div>
</div>
