@{
    ViewData["Title"] = "Начало";
    ViewData["BodyClass"] = "home-page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-wrapper">
    <div class="hero-content text-center">
        <img src="~/img/allora-hero.jpg" alt="Restaurant Allora" class="hero-logo mb-4">

        <h1 class="welcome-text">Добре дошли в Allora</h1>
    </div>
</div>
